/************************
*************************/
html {
	min-height: 100%;
}

header {
  text-align: center;
  margin-bottom: 50px;
  height: 200px

}

body {
	/*background-color: lightblue;*/
	background-image: url(../images/cloud.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

main {
	padding-top: 35px;
}

.box {
	box-sizing: border-box;

}



img {
	max-width: 100%;
	border-radius: 5px 5px 0 0;
}


b {
	font-size: 200%;
	color: red;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 90px;
	color: white;
	margin: 0;
}

@media only screen and (max-width: 760px) {
	header {
		margin-bottom: none;
	}

	h1{
		font-size: 10vw;
	}
}



p {
	display: inline;
	font-size: 0.8rem;
	width: 265px;
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
}

a:active {
	background-color: red;
}


.col-4 {
	height: 300px;
	border-radius: 5px;
	background-color: white;
}

input {
	border: 6px solid white;
	border-radius: 10px 0 0 10px;
	background-color: rgba(0, 51, 204, 0);
	text-align: center;
	font-size: 105%;
	font-family: Nothing You Could Do;
	color: white;
	width: 300px;
	height: 50px;
}

[type='submit'] {
	width: 100px;
	height: 50px;
	border-radius: 0 10px 10px 0;
	background-color: rgba(0, 51, 204, 0.8);
	font-family: Nothing You Could Do;
	border: none;
	color: white;
}

[type='submit']:hover{
	background-color: red;
}

.remove {
	width: 60px;
	height: 25px;
	border-radius: 8px;
	background-color: rgba(0, 51, 204, 0.8);
	border: none;
	color: white;
	margin-left: 40%;
	font-family: Nothing You Could Do;

.remove:hover {
	background-color: red;
}


.description {
	display: inline-block;
	height: 100%;
	padding: 5px;

}



/*****************************
*****************************/

